/* ==== 991 ==== */
@media (max-width: 991px) {
    .manu {
        display: none;
    }
    .menuOpen {
        display: flex;
    }
    /* ============ manage users ============ */
    .manage-users {
        grid-template-columns: 1fr 7fr;
    }
    .nav-so {
        width: 76px;
        padding: 3px;
    }
    .activ-avatar {
        flex-direction: column;
    }
    .activ-avatar img {
        width: 70px;
    }
    .activ-avatar .user {
        display: flex;
        margin-top: 0;
    }
    .about-act h6 {
        display: none;
    }
    .color-pulse {
        margin: 14px 8px;
    }
    .nav-so ul li a h5 {
        display: none;
    }
    .icon-1 {
        display: flex;
    }
    .nav-so ul li a .icon-1 {
        color: #fff;
        background-color: #323946;
        padding: 25px;
        font-size: 15px;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
    }
    .nav-so ul li a .icon-1:hover,
    .nav-so ul li a .icon-1.active {
        background-color: #11141a;
        color: #0ef;
        font-size: 19px;
    }
    .loc-so {
        margin-left: 0px;
    }
    /* ============= dashboard ============= */
    .b-line {
        border-right: 2px solid #11141a;
    }
    .mar-1 {
        margin-top: 0px !important;
    }
}
/* ==== 768 ==== */
@media (max-width: 768px) {
    /* ============= sign in ============= */
    .sing-ic1,
    .sing-ic2 {
        width: 550px;
    }
    .sign_in-card h2 {
        text-align: left;
        word-spacing: 5px;
        text-transform: uppercase;
        padding: 10px 25px;
    }
    .sign_in-card hr {
        margin: 0;
        height: 2px;
    }
    .alert_message {
        margin: 40px 30px 10px 30px;
    }
    .sign_in-card form input {
        width: 486px;
        margin: 10px 30px 5px 30px;
    }
    .resp {
        margin-left: 30px;
    }
    .sign_in-card small {
        margin: 0 0 0 30px;
    }
    .form_control label {
        margin-left: 30px;
    }
    /* ============ edit user ============ */
    .sign_in-card select {
        width: 486px;
        margin: 10px 30px 5px 30px;
    }
    .sign_in-card button {
        margin-bottom: 0;
    }
    /* ============ manage users ============ */
    .manage-users {
        display: block;
        width: 100%;
        margin-top: 150px;
    }
    .nav-so {
        display: flex;
        width: 100%;
        padding-bottom: 0px;
        justify-content: space-between;
    }
    .nav-so ul {
        display: flex;
    }
    .nav-so ul li {
        border-right: 1px solid #11141a;
        border-bottom: inherit;
    }
    .nav-so ul li:not(:last-child) {
        border-left: 1px solid #11141a;
        border-top: inherit;
    }
    .activ-avatar {
        margin-bottom: 0px;
    }
    .nav-so ul li a .icon-1 {
        padding: 25px 25px 47px 25px;
    }
    .nav-so ul li a .icon-1:hover,
    .nav-so ul li a .icon-1.active {
        padding-top: 40px;
    }
    .position {
        width: 100%;
    }
    .loc-so h2 {
        margin-top: 0;
    }
}
/* ==== 576 ==== */
@media (max-width: 576px) {
    /* ============= sign in ============= */
    .sign_in {
        position: initial;
        background-color: #1f242d;
    }
    .sign_in-card {
        position: initial;
    }
    .sing-ic1,
    .sing-ic2 {
        width: 100%;
    }
    .sign_in-card h2 {
        word-spacing: 5px;
        text-transform: uppercase;
        padding: 5px 15px;
    }
    .sign_in-card hr {
        display: none;
    }
    .alert_message {
        margin: 10px 0;
    }
    .sign_in-card {
        transform: translate(-0%, 0%);
        -webkit-transform: translate(-0%, 0%);
        -moz-transform: translate(-0%, 0%);
        -ms-transform: translate(-0%, 0%);
        -o-transform: translate(-0%, 0%);
        box-shadow: initial;
    }
    .sign_in-card form input {
        width: 100%;
        margin: 7px 0;
    }
    .btn {
        width: 100%;
        margin: 10px 0;
        height: 50px;
    }
    .sign_in-card small {
        margin: 0;
    }
    .form_control label {
        margin-left: 0;
    }
    /* ============ edit user ============ */
    .sign_in-card.md-ali {
        transform: translate(-0%, 0%) !important;
        -webkit-transform: translate(-0%, 0%) !important;
        -moz-transform: translate(-0%, 0%) !important;
        -ms-transform: translate(-0%, 0%) !important;
        -o-transform: translate(-0%, 0%) !important;
        margin-top: 150px;
    }
    .edit_user {
        margin-top: 15px;
      }
    .sign_in-card select {
        width: 100%;
        margin: 3px 0;
    }
    /* ============ manage users ============ */
    .sign_in-card.carbo {
        transform: translate(-0%, 0%) !important;
        -webkit-transform: translate(-0%, 0%) !important;
        -moz-transform: translate(-0%, 0%) !important;
        -ms-transform: translate(-0%, 0%) !important;
        -o-transform: translate(-0%, 0%) !important;
        margin-top: 125px;
    }
    .loc-so h2 {
        font-size: 20px;
    }
    .loc-so table td {
        padding: 12px 5px;
    }
    .loc-so table thead tr th {
        font-weight: 600;
    }
    .loc-so table tbody tr td {
        font-size: 14px;
        font-weight: 400;
    }
    .btn-ch {
        padding: 5px 15px;
    }
    .btn-dan {
        padding: 5px 15px;
    }
}